// Import fonts ⌨️
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

// Color palette 🎨
$seasalt-white: #F9F9F9;
$white: #FFFFFF;
$antiflash-white: #EBEBEB;
$earie-black: #1D1D1D;

$avocado-green: #4A7C1B;
$asparagus-green: #799E29;

$jonquil-yellow: #EECB2E;
$fire-red: #AE2323;

$primary: $avocado-green;
$secondary: $seasalt-white;
$success: $seasalt-white;
$info: $asparagus-green;
$warning: $jonquil-yellow;
$danger: $fire-red;
$light: $white;
$dark: $earie-black;

// Styles
$border-radius: 1rem;

$btn-border-width: 0;

$enable-shadows: true;

$font-family-sans-serif: "Inter", system-ui;

// Import bootstrap (●'◡'●)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// Import bootstrap icons (✿◡‿◡)
$bootstrap-icons-font-src: url("fonts/bootstrap-icons.woff2") format("woff2"),
                           url("fonts/bootstrap-icons.woff") format("woff");
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

// General styles 🪐
html {
    height: 100%;
}

body {
    height: 100%;
}

// Maps styles 🗺
@include media-breakpoint-up(md) {
    .home .card {
        max-width: 600px;
    }

    .home, .maps {
        display: grid;
        grid-template-columns: 15% 1fr;
        grid-template-areas: "navbar main";
        .navigation {
            grid-area: navbar;
            .links {
                display: grid;
                grid-template-rows: repeat(4, auto) 1fr auto;
                gap: 0.5rem;
                .link {
                    border-radius: 0;
                    border-top: 0;
                    border-right: 0;
                    border-bottom: 0;
                    box-shadow: none;
                    color: $earie-black;
                    &:hover {
                        color: $white
                    }
                    &:active {
                        color: $white;
                        box-shadow: $btn-active-box-shadow;
                    }
                }
            }
        }
        .main {
            grid-area: main;
            .card{
                overflow: overlay;
                .search {
                    max-width: 600px;
                }
            }
        }
    }
    .maps .main {
        display: grid;
        grid-template-columns: 45% 1fr;
        grid-template-rows: auto 1fr;
        height: 100vh;
        overflow: hidden;
        gap: 1rem;
        grid-template-areas: "search map" "tendency map";
        .search {
            grid-area: search;
        }
        .tendency {
            grid-area: tendency;
        }
        .map {
            grid-area: map;
        }
    }
}